@import "tailwindcss";

:root {
  --color-background: #0a0a0a;
  --color-primary: #a855f7;
  --color-secondary: #3b82f6;
  --color-accent: #ec4899;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-slate-300);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }
}
